<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let post of posts">
    <h1>{{post.name}}</h1>
    <h2>Temperature: {{post.main.temp}} °C</h2>
    <h2>Pressio: {{post.main.pressure}} hpa</h2>
    <h2>Humitat: {{post.main.humidity}} %</h2>
  </div>
</ion-content>
